html, body, #app
  height: 100vh
  height: -webkit-fill-available
  height: -moz-available

#app
  display: flex
  flex-flow: column nowrap
  flex-grow: 1

.full-container
  display: flex
  align-items: stretch
  flex-wrap: nowrap
  flex-grow: 1

.home
  @extend .flex-md-row, .flex-column-reverse

.about
  flex-flow: column nowrap
